
    <span style="margin:5px 5px 5px 5px"><a href="add-flipkart">Add Flipkart Products</a></span>
    <span style="margin:5px 5px 5px 5px"><a href="add-amazon">Add Amazon Products</a></span>
    <span style="margin:5px 5px 5px 5px"><a href="edit-categories">Edit Categories</a></span>
    <span style="margin:5px 5px 5px 5px"><a href="approve-products">Approve Products</a></span>
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
{% block content %}
{% endblock %}